.ua-speccoll-branding-footer {
  clear: both;
  background-color: var(--black);
  color: var(--white);
  font-size: 14px;
  font-family: var(--font-family-serif);
}

.ua-speccoll-branding-footer h4 {
  margin: 0 0 .5em 0;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--font-family-serif);
}

.ua-speccoll-branding-footer p {
  margin: 0;
}

.ua-speccoll-branding-footer a {
  border: none;
  color: var(--white);
  text-decoration: none;
}

/* Grid */
.ua-speccoll-branding-footer__row {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em 1em;
}

.ua-speccoll-branding-footer__col {
  margin-bottom: 2em;
}

.ua-speccoll-branding-footer__col:before,
.ua-speccoll-branding-footer__col:after {
  content: " ";
  display: table;
}

.ua-speccoll-branding-footer__col:after {
  clear: both;
}

.ua-speccoll-branding-footer__button {
  display: inline-block;
  margin-top: 1em;
  padding: 0.4em 1em;
  background-color: #9B2229;
  color: #E2E2E2;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.ua-speccoll-branding-footer__map-icon {
  float: left;
  display: inline-block;
  margin-right: 10px;
  padding-top: 50px;
  width: 50px;
  background-image: url("compass.png");
  background-repeat: no-repeat;
  background-color: var(--white);
  text-align: center;
  color: var(--black) !important;
}

@media (--screen-md) {
  .ua-speccoll-branding-footer__row {
    display: flex;
  }

  .ua-speccoll-branding-footer__col {
    flex: 1;
    margin: 0;
    padding: 0 .5em;
  }
}
