.ua-speccoll-branding__nav {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  border-bottom: 1px solid #AFAFAF;
  box-shadow: 0 -1px 0 0 #FFF, 0 -2px 0 0 #626262, 1px 1px 0 rgba(255, 255, 255, .2) inset;
  background-image: url("white-texture.png");
}

.ua-speccoll-branding__nav.open {
  display: block;
}

.ua-speccoll-branding__nav > ul {
  margin: 0;
  padding: 0 1em;
  list-style-type: none;
}

.ua-speccoll-branding__nav > ul > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.ua-speccoll-branding__nav > ul > li:last-child {
  border-bottom: none;
}

.ua-speccoll-branding__nav a {
  display: block;
  padding: 1em 2em;
  color: var(--darker-black);
  text-decoration: none;
}

.ua-speccoll-branding__nav a:hover {
  background-color: rgba(98, 98, 98, .2);
}

@media (--screen-sm) {
  .ua-speccoll-branding__nav {
    left: 1em;
    width: 274px;
  }
}

@media (--screen-md) {
  .ua-speccoll-branding__nav {
    position: relative;
    width: 100%;
    left: auto;
  }

  .ua-speccoll-branding__nav > ul {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  .ua-speccoll-branding__nav > ul > li {
    border-bottom: none;
  }

  .ua-speccoll-branding__nav a {
    padding: 1.5em 2.2em;
  }
}
