
footer#footer  {
	background-color: $black;
	div,p {
	color: $white;
	}

	ul {
		list-style: none;
	}

	a {
		color: $raw-sienna;
		&:hover {
			text-decoration: underline;
		}
	}

	.menu-item .nav-link {
		color: $raw-sienna;
		padding: 0;
		box-sizing: border-box;
		border: solid 5px transparent;
		border-width: 0 0 5px 0;
		display: inline-block;
		margin-bottom: .65rem;
		&:hover,&.active {
			text-decoration: none;
			border-color: $raw-sienna;
			border-width: 0 0 5px 0;
		}
	}

	.menu-item.current_page_item .nav-link,
	.menu-item.current-menu-item .nav-link,
	.menu-item.current-menu-item.active {
		border-color: $raw-sienna;
	}
}







