/* Contributor Grid Card */

figcaption,figcaption p  {
  letter-spacing: 0px;
}

@media (min-width: 992px){

.editor-styles-wrapper .col-lg-4 {
	flex: 0 0 auto;
	width: 20.33333333%;
}


}

.contributors-grid {
  box-sizing: border-box;
  max-width: 1320px;
  margin: auto;
}

.bg-img {
	position:absolute;
	opacity: 0;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-image: 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';
	background-repeat: no-repeat!important;
	background-position: center center;
	background-size: cover;
}

.contributor-grid-card {
	background-color: #fc0;
	box-sizing: border-box;
    overflow: clip;
    position: relative;
    opacity: 1;
    transform: translateY(.8rem);
    transform-origin: center center;
    transition: all 300ms ease-in-out;
    transform: scale(1);
	width: 100%;	video {
		display: block;
		width: 100%;
	}
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 300ms ease-in;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
  }

  .admin .contributor-grid-card {
      opacity: 1;
  }

  @keyframes fadeIn{

    from {
      opacity: 0;
      box-shadow: 0px 0px 0px rgba(0,0,0,.4);
    }


    to {
      opacity: 1;
      box-shadow: 3px 3px 10px rgba(0,0,0,.4);
    }
  }

 .fade-in:hover,
 .fade-in:focus-within	{
    box-shadow: 5px 5px 14px rgba(0,0,0,.5);
    transform: scale(1.01);
  }


  .contributor-grid-card:after {
    display: block;
    padding-bottom: 100%;
    content: "";
    z-index: 1;
    position: relative;
  }

  .contributor-grid-card a {
    display: block;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }

  .contributor-grid-card .label {
    position: absolute;
    left: 0;
    bottom: 1rem;
    background: var(--deep-grayish-olive);
    color: var(--white);
    font-family: var(--sans-serif);
    padding: 1rem $padding-normal;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: .04em;
    margin-right: 1rem;
    margin-left: 1rem;
    text-shadow: 2px 2px 0 var(--black);
    z-index:3;
	border: solid .2rem $deep-grayish-olive;
  }

  .contributor-grid-card:focus-within .label {
	  border: solid .2rem $white;
  }

  .contributor-grid-card video {
    display: block;
    position: absolute;
    top: 0;
    left:0;
    z-index:2;
    max-width: 100%;
  }

.contributor-grid-card {

	   max-width: 100%;
}

@media all and (min-width:768px) {
	.contributor-grid-card {
		max-width: 26.5rem;
		 max-width: 48%;
	}
}

  @media all and (min-width:1400px) {
		.contributor-grid-card {
		   max-width: 26.5rem;
		   max-width: 32%;
		}
	}



