.project-name {
	font-family: $serif;
}

#stage {
	box-shadow: inset 0px 6px 6px rgba(0,0,0,.2), inset 0px -6px 6px rgba(0,0,0,.2);
	overflow: hidden;
}

figure .media {
	@include site-boxshadow;
}

#stage .items {
	display: block;

}

	.rbn-w-100 {
		max-width: 100%;
	}

	.rbn-w-50 {
		max-width: 100%;
	}

	.rbn-w-25 {
		max-width: 100%;
	}

	.rbn-w-33 {
		max-width: 100%;
	}

	.rbn-w-0 {
		max-width: 100%;
	}

	.media img {
		max-width: 100%;
	}






@media all and (min-width:768px) {

.media {
	max-width: 800px;
	margin: auto;
}

#stage .items {
	display: flex;
	flex-wrap: nowrap;
	gap: 0 4rem;
	justify-content: center;
}

#stage .items figcaption {
	text-align: left;
	max-width: 800px;
	margin: auto;
}

	.rbn-w-100 {
		width: auto;
	}

.items-3 {
	.rbn-w-50 {
		width: 50%;
	}
}

	.rbn-w-25 {
		width: 25%;
	}

	.rbn-w-33 {
		width: 33%;
	}

	.rbn-w-0 {
		width: 0%;
	}

	.media img {
		width: 100%;
		height: auto;
	}

}

video.play {
	display: none;
	opacity: 0;
	animation: playVideo 300ms ease-in;
	animation-fill-mode: forwards;
}

video.pause {
	display: block;
	opacity: 1;
	animation: pauseVideo 300ms ease-in;
	animation-fill-mode: forwards;
}

@keyframes playVideo {
	from {
		display: block;
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes pauseVideo {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		opacity: 0;
	}

	100% {
		display: none;
		opacity: 0;
	}
}

.contributor-photo {
	margin: auto;
}


	.contributor-photo img,
	.contributor-photo figcaption {
		max-width: 100%;
		height: auto;
		display: block;
		margin: auto;
	}

@media all and (min-width:768px) {
	.contributor-photo img,
	.contributor-photo figcaption
	 {
		max-width: 40rem;
		height: auto;
	}
}










