

p a {

	position: relative;
	&:after {
		content: none;
		animation: none;
		width: 100%;
	}
}

.arrow-left,
.left-arrow {
	justify-content: flex-end;
	display: flex;
	background-image: url('../imgs/svg/left-arrow.svg');
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 6.25rem;
}


.arrow-right,
.right-arrow {
	justify-content: flex-end;
	display: flex;
	background-image: url('../imgs/svg/right-arrow.svg');
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 6.25rem;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-family: $sans-serif;
	text-decoration: none;
	&:hover {
		color: darken($raw-sienna,10%);
	}
}
