

p a {

	position: relative;
	&:after {
		content: none;
		animation: none;
		width: 100%;
	}
}

.left-arrow.returnto {
	display: flex;
	align-content: center;
	content: "";
	&:before {
		display: inline-block;
		content: "";
		margin-right: 1.5rem;
		width: 78px;
		height:16px;
		margin-top: 1rem;
		background-image: url('../imgs/svg/left-arrow.svg');
		background-repeat: no-repeat;
		background-position: center center;
	}
}
