

p a {

	position: relative;
	&:after {
		content: none;
		animation: none;
		width: 100%;
	}
}

.left-arrow {

	&:before {
		display: block;
		content: "hello";
		margin-right: 1.5rem;
		width: 78px;
		height: 8px;
		background-color: pink;
	}
}
