
// Bootstrap and its default variables
@import "bootstrap/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";




/* CUSTOM STYLES
-------------------------------------------------- */

:root {
  --serif: 'EB Garamond', Garamond, "Apple Garamond", "ITC Garamond Narrow", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L",  "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  --sans-serif:'Oswald', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --black: #212121;
  --ivory-buff: #EBD999;
  --deep-grayish-olive: rgba(80, 84, 39, 1);
  --deep-grayish-olive-hover: rgba(80, 84, 39, .9);
  --raw-sienna: #B85E00;
  --ivory: #F4EDE5;
  --white: #ffffff;
  --bs-link-hover-color: inherit;
}

//Smooth Scroll
html {
  scroll-behavior: smooth;
}

html,body,.wp-block-post-content {
  font-family: var(--serif);
  letter-spacing: .03rem;
  background: $white;
}

h1,.h1 {
	@include h1;
}

h2,.h2 {
	@include h2;
}

h3,.h3 {
	@include h3;
}

h4,.h4{
	@include h4;
}

h5,.h5{
	@include h5;
}

h6,.h6{
	@include h5;
}

code {
	@include code;
}

em,dfn {
	@include italic;
}

.fs-1 {
	font-size: $h1-font-size;
}

.fs-2 {
	font-size: $h2-font-size;
}

.fs-3 {
	font-size: $h3-font-size;
}

.fs-4 {
	font-size: $h4-font-size;
}

.fs-5 {
	font-size: $h5-font-size;
}

.fs-6 {
	font-size: $h6-font-size;
}

div,p,ul,ol,dl {
  font-size: 1.75rem;
  font-weight: 400;
}

p {
	padding-bottom:$padding-normal;
}

.spotlight p {
	text-align: left;
}

figcaption p {
	font-size: $h5-font-size;
}

ul,ol {
	margin-left: 2rem;
	li {
		margin-bottom: .4rem;
	}
}

/* Links */

  a {
  color: var(--raw-sienna);

  }

p a {
  color: var(--raw-sienna);
  text-decoration: none;
  position: relative;
}

p a:hover {
  color: darken($raw-sienna,10%);
}

.offset-left {
	max-width: 25%;
	display: inline-block;
	float: left;
	padding: $padding-normal 0rem;
	transform: translateX(-6rem);
	font-weight: 200;
}

.offset-right {
  max-width: 25%;
  display: inline-block;
  float: right;
  padding: $padding-normal 0rem;
  transform: translateX(6rem);
  font-weight: 200;
}

  .has-sans-serif-font-family.strtoupper {
	  font-family: $sans-serif;
	  text-transform: uppercase;
	  letter-spacing: 1px;
  }

  .is-style-wide {

	 // margin-bottom: $h2-font-size;
  }

 .spotlight {
	 @include blockquote;
  }

  @import "contributor";
  @import "pagination";
  @import "template-parts/global-header";
  @import "template-parts/global-footer";
  @import "blocks/block-image";
  @import "blocks/buttons";
  @import "blocks/columns";
  @import "blocks/contributors-grid";
  @import "links";
  @import "template-parts/_archive-news";
  @import "blocks/profile-grid";
  @import "template-parts/event";
  @import "wp-overrides";
  @import "formidable-forms";
  @import "blocks/logos-row";

.narrow {

  margin: auto!important;

}

body .is-layout-flow > * + * {
  margin-block-start: revert;
}

.wp-block-columns,
h1.wp-block-heading,
h2.wp-block-heading {
  padding-bottom: $padding-extra;
}

p + h1,
p + h2 {
	padding-top: $padding-normal;
}

p + h3 {
	padding-top: $padding-normal;
}

footer {
	.wp-block-columns,
	h1.wp-block-heading,
	h2.wp-block-heading{
	  padding-bottom: $padding-normal;
	}
	h3.wp-block-heading{
	  padding-bottom: $padding-normal;
	}
}


h3.wp-block-heading{
  padding-bottom: $padding-extra;
}

main {
	&:after {
		display: block;
		content: "";
		padding-bottom: 11.5625rem;
	}
}


